.container-accesorios {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;
}

.container-image-macetas {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-top: 35px; 
}

.maceta-name {
  transition: transform 0.5s ease;
  }
  
  .maceta-name img {
    width: 150px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
    transition: transform 0.5s ease;

  }