.main-container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
}

.contact,
.container-form {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  line-height: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding-left: 2px;
}

.button-form > form {
  justify-content: center;
  align-items: center;
}
