.container-stock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.arrow {
  font-size: 24px; /* Ajusta el tamaño según sea necesario */
  cursor: pointer;
}

.container-image { 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 45px;
  cursor: pointer;
}

.plant-name {
transition: transform 0.5s ease;
}

.plant-name img {
  width: 150px; /* Ajusta el tamaño de las imágenes según sea necesario */
  height: auto;
}

